@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="ComicBook" asp-action="Index">Danh sách ComicBook</a>
    <a asp-controller="Customer" asp-action="Register">Đăng ký khách hàng</a>
    <a asp-controller="Customer" asp-action="Index">Danh sách khách hàng</a> 
    <a asp-controller="Rental" asp-action="Create">Thuê sách</a>
    <a asp-controller="RentalReport" asp-action="Index">Báo cáo thuê sách</a>
</div>
